<div class="panel panel-default"  ng-controller="ItemCtrl as ctrl">

	<div class="panel-heading">Item Data</div>

	
	
	<div class="panel-body form-auction1" >
		
		<div 	class="alert alert-warning" 
				role="alert"
				ng-show="ctrl.errorMessage" >
				{{ctrl.errorMessage}}
		</div>

		<md-content layout-padding>
			<form ng-submit="ctrl.save()" name="form_item">
				
				<input name="id" type="hidden" ng-model="ctrl.item.id"/>
				<input name="version" type="hidden" ng-model="ctrl.item.version"/>
				

				<md-input-container class="md-block">
				  <label>Name</label>
				  <input required name="name" ng-model="ctrl.item.name">
				  <div ng-messages="form_item.name.$error">
				    <div ng-message="required">This is required.</div>
				  </div>
				</md-input-container>
				
				<md-input-container class="md-block">
				  <label>Description</label>
				  <input required  name="description" ng-model="ctrl.item.description">
				  <div ng-messages="form_item.description.$error">
				    <div ng-message="required">This is required.</div>
				  </div>
				</md-input-container>
			
				<md-input-container class="md-icon-float md-block">
				  <label>Initial Price</label>
				  <md-icon md-svg-src="../images/icons/ic_attach_money_black_18px.svg"></md-icon>
				  <input required name="initial_price" type="number" ng-model="ctrl.item.initialPrice">
				  <div ng-messages="form_item.initial_price.$error">
				    <div ng-message="required">This is required.</div>
				  </div>
				</md-input-container>

				<div layout="row" layout-align="start">
					<md-input-container flex="50">
						<label>Auction End Date</label>
						<md-datepicker ng-model="ctrl.item.auctionEnd" ng-required="true"  md-placeholder="Enter date"></md-datepicker>
					</md-input-container>
					<md-input-container flex="50">
						<md-checkbox ng-model="ctrl.item.isPublished">Available for auction?</md-checkbox>
					</md-input-container>
			    </div>

				<div class="form-group">
					<div class="col-xs-5">
						<input type="submit" class="btn btn-success btn-lg" value="Next" ng-disabled="form_item.$invalid"/>
			    	</div>
			    </div>

			</form>
		</md-content>
	</div>
</div>