<div class="panel panel-default"  ng-controller="ItemCtrl as ctrl">

	<div class="panel-heading">Item Data Images</div>

	
	<md-button class="md-primary md-raised" ng-click="ctrl.loadImages()">
      Load Images
    </md-button>
	
	<div class="panel-body form-auction1" >
		
		<div 	class="alert alert-warning" 
				role="alert"
				ng-show="ctrl.errorMessage" >
				{{ctrl.errorMessage}}
		</div>
		
		<div class="container">
			<div class="row">
				<md-button type="button" class="md-primary md-raised col-lg-2" ng-click="ctrl.previousImage()"> Previos </md-button>
				
				<md-button type="button" class="md-primary md-raised col-lg-2" ng-click="ctrl.nextImage()"> Next </md-button>
			</div>
		</div>
	
		<div ng-repeat="image in ctrl.item.images">
			<img ng-src="{{image.path}}" class="img-rounded" height="420px" width="420px" ng-show="image.selected">						
		</div>
		
		


		
	</div>
</div>