
<md-dialog aria-label="Load Image">

	<form ng-cloak>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>Load Image</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <md-icon md-svg-src="../images/icons/ic_clear_black_24px.svg" aria-label="Close dialog"></md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
	
	    <md-dialog-content>
	      <div class="md-dialog-content">
			<label>Select Image</label>
			<input type="file" file-model="object.file" class="form-control"/>
	      </div>
	    </md-dialog-content>
	
	    <md-dialog-actions layout="row">
	      <md-button ng-click="answer()">
	        Upload
	      </md-button>
	    </md-dialog-actions>
	</form>

</md-dialog>