


<div  ng-controller="MainCtrl as ctrl">


	<div class="container">
	
		<div class="row">
			<div class="col-lg-3 col-centered" >
				<h3 ng-show="!ctrl.isAuthenticated()">Login with:</h3>
				<h3 ng-show="ctrl.isAuthenticated()">Logged in as:</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-centered" >
				<div  ng-show="!ctrl.isAuthenticated()">
					<a href="/login/facebook">
						<img alt="Facebook" src="../images/facebook.png">
					</a>
				</div>
				<span ng-bind="ctrl.getUserName()"   ng-show="ctrl.isAuthenticated()"></span>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-lg-3 col-centered" >
				<div  ng-show="!ctrl.isAuthenticated()">
					<a href="/login/github">
						<img alt="github" src="../images/github.png" width="218" height="52">
					</a>
				</div>
				<span ng-bind="ctrl.getUserName()"   ng-show="ctrl.isAuthenticated()"></span>
			</div>
		</div>
	</div>
		

	
	
</div>